@use '../abstracts/' as *;
@use './map-functions' as *;
@use './mixins' as *;
@use '../utility/breakpoints' as *;

.recipe-items {
  border-bottom: 1px solid getColor(accent, 400);
  padding-bottom: 0.7rem;

  &--image {
    aspect-ratio: 29.154/19.4;
    border-radius: 0.6rem;
    margin-bottom: 0.6rem;
  }

  &--label {
    font-family: $font-family-fifth;
    font-size: getFontSize(small, 500);

    @media (max-width: $breakpoint-800) {
      font-size: getFontSize(small, 600);
    }

    @media (max-width: $breakpoint-500) {
      font-size: getFontSize(small, 700);
    }
  }
}
