$colors: (
  primary: (
    400: rgb(222, 118, 0),
  ),
  secondary: (
    400: hsl(215, 90%, 42%),
  ),
  accent: (
    100: #ffffff05,
    200: rgba(40, 40, 40, 0.386),
    300: rgba(81, 81, 81, 0.9),
    400: rgba(182, 182, 182, 0.552),
  ),
  neutral: (
    100: #ffffff,
    800: #010101,
    900: #000000,
  ),
);

:root {
  @each $color, $shades in $colors {
    @each $shade, $value in $shades {
      --clr-#{$color}-#{$shade}: #{$value};
    }
  }
}

@each $color, $shades in $colors {
  @each $shade, $value in $shades {
    .text-#{$color}-#{$shade} {
      color: $value;
    }
  }
  @each $shade, $value in $shades {
    .bg-#{$color}-#{$shade} {
      background-color: $value;
    }
  }
}
