---
import Recipes from '../../layouts/Recipes.astro';
import RecipeList from '../../components/Main/Recipes';

import HotAmericano from '../../assets/recipe_tag/ice americano.jpg';

const Ingredients = [
  '<a href="/HotCoffee/espresso">Double Shot Espresso (or)</a>',
  '<a href="/HotCoffee/espresso">Ristretto</a>',
  'Cup Size - 360 ml',
  'Water - 80 to 100 grams',
  'Ice - 150 grams'
];

const Directions = [
  'Extract a cup of ristretto or a double shot espresso',
  'Pour 80 to 100 grams of water into the espresso and add ice',
];
---

<Recipes title="Ice Americano Recipe" image={HotAmericano.src}>
  <RecipeList Ingredients={Ingredients} Directions={Directions} />
</Recipes>
