---
import Recipes from '../../layouts/Recipes.astro';
import RecipeList from '../../components/Main/Recipes';

import IceCaramelBlended from '../../assets/recipe_tag/caramel blended.jpg';

const Ingredients = [
  '<a href="/HotCoffee/espresso">Double Shot Espresso</a>',
  'Cup Size - 360 ml',
  'Vanilla Frappe Powder - 15 grams',
  'Evaporated Milk - 30 grams',
  'Caramel Syrup - 20 grams',
  'Ice - 200 grams',
  'Whipped Cream Optional',
];

const Directions = [
  'Add all the ingredients into a blender',
  'Blend them until the ice is into small bits but not dissolved',
  'Pour the contents into a specifed cup',
  'Add whipped cream as topping if wanted',
];
---

<Recipes title="Caramel Coffee Blended Recipe" image={IceCaramelBlended.src}>
  <RecipeList Ingredients={Ingredients} Directions={Directions} />
</Recipes>
