---
import Recipes from '../../layouts/Recipes.astro';
import RecipeList from '../../components/Main/Recipes';

import HotBlack from '../../assets/recipe_tag/black.jpeg';

const Ingredients = [
  '<a href="/HotCoffee/espresso">Single Shot Espresso</a>',
  'Cup Size - 180 to 200 ml',
  'Hot Water - 120 grams',
];

const Directions = [
  'Extract a cup of single shot espresso',
  'Pour the espresso into 120 grams of hot water',
];
---

<Recipes title="Black Recipe" image={HotBlack.src}>
  <RecipeList Ingredients={Ingredients} Directions={Directions} />
</Recipes>
