---
import Recipes from '../../layouts/Recipes.astro';
import RecipeList from '../../components/Main/Recipes';

import HotRomano from '../../assets/recipe_tag/romano.jpg';

const Ingredients = [
  '<a href="/HotCoffee/espresso">Single Shot Espresso</a>',
  'Cup Size - 60 to 70 ml',
  'Yellow Lemon Slice',
];

const Directions = [
  'Extract a cup of single shot espresso',
  'Add a yellow lemon slice to the edge of the cup or inside the espresso',
];
---

<Recipes title="Romano Recipe" image={HotRomano.src}>
  <RecipeList Ingredients={Ingredients} Directions={Directions} />
</Recipes>
